#contador {
  background: rgba(238, 238, 238, 0.5);
  color: #00AFEF;
  font-family: 'Roboto', sans-serif;
  max-width: 80%;
  border-radius: 10px;
  margin-bottom: 10px ;

}

#contador span {
  font-size: 38px;
  padding-right: 30px;
}

#contador p{
  font-size: 22px;
}