
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box
}

*:focus {
  outline: 0;
}

html,body, #root {
  height: 100%;
}

body {
  --webkit-font-smoothing: antialiased;
  background: #282829;
}

body, input, button {
  font: 14px 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.tesha {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.apresentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: #FFF;
}

.header h1 {
  width: 862px;
  height: 95px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #282829;
}

.image-background {
  width: 100%;
  height: 500px;
  background-color: #00AFEF;
  background-position: center;
  background-size: cover;
  padding-top: 10px;
}

.image-background h1 {
  width: 100%;
  height: 100%x;
  padding-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 106.19%;
  /* or 74px */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: -0.045em;

  color: #FAFEFF;
}

.image-background h2 {
  width: 100%x;
  height: 54.45px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #282829;
}

.image-background img {
  width: 100%;
  height: 100%;
}

.information {
  width: 100%;
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inovation {
  display: flex;
  flex-direction: column;
}

.inovation h1 {
  width: 100%;
  height: 59px;
  left: 66px;
  top: 762px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 111.19%;
  /* or 56px */

  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.04em;

  color: #00AFEF;
}

.inovation2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.risk {
  padding: 2%;
}

.risk p {
  width: 249px;
  left: 66px;
  top: 771px;
  text-align: left;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 111.19%;
  /* or 33px */

  display: flex;
  align-items: center;
  letter-spacing: -0.04em;

  color: #636262;
}

.linha-vertical {
   height: 86px;
  border-left: 5px solid #00AFEF;
}

.challenge {
  padding: 2%;
}

.challenge p {
  width: 231px;
  height: 130px;
  left: 340px;
  top: 835px;
  text-align: left;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 111.19%;
  /* or 33px */

  display: flex;
  align-items: center;
  letter-spacing: -0.04em;

  color: #767575;
}

.event {
  width: 269px;
  height: 264px;
  background: #00AFEF;
  border-radius: 15px;
}

.event p {
  padding-top: 60px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 111.19%;
  /* or 33px */

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.04em;

  color: #FFFFFF;
}

.social {
  width: 100%;
  max-height: 110vh;

  background: #282829;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.painel {
  width: 536px;
  height: 46px;
  left: 837px;
  top: 85px;
  background: #00AFEF;
  border-radius: 23px;
  /* position: absolute;
  right: 67px;
  top: 45px; */
}

.painel h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 61.69%;
  padding-top: 12px;

  display: flex;
  justify-content: flex-end;
  letter-spacing: -0.04em;
  padding-right: 32px;

  color: #FFFFFF;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
}

.social-media h1 {
  /* width: 576px; */
  height: 57px;
  left: 864px;
  top: 163px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #FFFFFF;
}

.social-media p {
  width: 450px;
  height: 210px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #00AFEF;
}

.contador {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(238, 238, 238, 0.5);
  border-radius: 10px;
  width: 100%;
  height: 150px;
  color: #00AFEF;
  font-size: 48px;
  margin: 0 5px 10 5px;
}

.dia, .hora, .minuto, .segundo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 5%;
}

.eventDate {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

  margin-bottom: 50px;
}

.logo-youtube {
  width: 200px;
  height: 80px;
  border-radius: 15px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('/assets/logoYoutube.png');
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  /* width: 36vw; */
  height: 8vh;
  left: 940px;
  top: 623px;
  padding: 2%;
  border-radius: 10px;

  margin-top: 20px;

  font-size: 30px;
}

input[type="submit"] {
  background:#00AFEF;
  color: #FFF;
  font-size: 34px;
  cursor: pointer;
  transition: background 0.2s;
}

input[type="submit"]:hover {
  background:#7ddcff;
  color:black;
  border: 5px solid #7ddcff ;
}

.white {
  background: #FFF;

  height: 100px;
  /* width: 106%; */
}

.convidados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5%;
}

.convidados-title h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32.6958px;
  line-height: 124.19%;
  /* or 41px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.14em;

  color: #00AFEF;
}

.convidados-title hr {
  border: 1px solid #00AFEF;
}

.convidado {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.convidado1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.convidado1 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 38.3673px;
  line-height: 97.69%;
  /* or 37px */

  display: flex;
  align-items: center;
  justify-content: center;

  color: #FFFFFF;
}

.convidado1 h2 {
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24.9388px;
  line-height: 120%;
  /* or 30px */

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.convidado1 span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24.9388px;
  line-height: 120%;
  /* or 30px */

  display: flex;
  align-items: center;

  color: #00AFEF;
}


.convidado1 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24.6947px;
  line-height: 126.69%;
  /* or 31px */

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: #FFFFFF;
}

.mediadores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #00AFEF;
}

.mediadores h1 {
  margin-top: 3%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: right;

  color: #FFFFFF;
}

.style-none h1 {
  flex-direction: inherit;
}

.mediador {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.mediador1 {
  display: flex;
  flex: 50%;
  align-items: center;
  justify-content: space-around;
  padding: 2% 2%;
}

.mediador1 p {
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 144.19%;
  /* or 29px */

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: #FFFFFF;
}

.mediador1 ul {
  display: flex;
  flex-direction: column;
}

.mediador1 ul li {
  list-style-type: disc;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 144.19%;

  color: #282829;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

@media screen and (max-width: 1280px) {
  .social {
    margin-top: -148px;
  }

}

@media screen and (max-width: 768px) {
  .tesha {
    flex-direction: column;
  }

  .header {
    width: 100%;
  }

  .header h1 {
    width: 100%;
  }

  .apresentation {
    flex-direction: column;
  }

  .header {
    flex-direction: column;
  }

  .image-background {
    flex-direction: column;
  }

  .painel {
    margin-top: 40px;
  }

  .information {
    flex-direction: column;
  }

  .inovation, .inovation2 {
    flex-direction: column;
  }

  .inovation h1 {
    font-size: 77px;
    margin-bottom: 16px;
  }

  .linha-vertical {
    display: none;
  }

  .social-media {
    margin-top: 70px;
  }

  input {
    width: 79vw;
  }
}
