
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    z-index: -1;
    max-width: 100vw;
  }

  @media only screen and (min-width: 425px) {
    #painel-bar{
        width: 700px;
    }
  }

.flex-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    z-index: 0;
    max-width: 100vw;
}

#container-1 {
    max-width: 100%;
    height: 100%;
    background-color: #282829;
    padding-top: 160px;
    z-index: 0;
}


#painel-bar {
    background-color: #00AFEF;
    font-size: 1.8rem;
    font-weight: 500;
    width: 535px;
    height: auto;
    border-radius: 23px;
    text-align: end;
    color: #fff;
    position: absolute;

    top: 85px;
    right: 67px;

    z-index: 1;
}

#painel-bar :first-child {
    padding-right: 35px;
    padding-top: 14px;
}

#texto-form {
    text-align: center;
}

#texto-form :first-child {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    margin: 0;
}

#texto-form :last-child {
    max-width: 95vw;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #00AFEF;

}

#logo-telegram {
    max-width: 80%;
    background-color: #00AFEF;
    border-radius: 10px;

}

#logo-telegram spam {
    color: #fff;
    font-size: 1.8rem;
}

iframe {
    padding-top: 10px;
    max-height: 90%;
    height: 500px;
}